@import url("screen.css"); /* default gitit screen styles */
@import url("highlighting.css"); /* for syntax highlighting */

/* Put your custom style modifications here: */

/* Background */
body {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Interface font */
body,
#content form,
#content .alert,
#content .badge,
#content .breadcrumb,
#content .card,
#content .list-group {
  font-family: "Noto Sans", sans-serif, emoji;
  font-weight: 400;
}

/* Document font */
#content,
#previewpane {
  font-family: "Noto Sans", sans-serif, emoji;
  font-weight: 300;
}

/* Emphasis font */
#content strong {
  font-weight: 600;
}

/* External link icon */
#content a i.external-link {
  margin-left: 0.2rem;
  margin-right: 0.05rem;
}

/* Monospace font */
#content code,
#content kbd,
#content pre,
#content samp,
#content textarea,
#content var {
  font-family: "Noto Sans Mono", monospace, emoji;
}

/* Heading */
#content h1:not(.pageTitle),
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  border-bottom: 1px solid rgb(0, 0, 0, 0.125);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}

/* Blockquote */
#content blockquote {
  border-left: 0.25rem solid rgb(0, 0, 0, 0.125);
  margin-left: 1rem;
  padding-left: 1rem;
}

/* Code */
#content code,
#content kbd,
#content pre,
#content samp,
#content var {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}

/* Code (in block) */
#content pre code,
#content pre kbd,
#content pre pre,
#content pre samp,
#content pre var {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

/* Table */
#content table {
  margin: 1rem 0;
}

/* Table cell */
#content td,
#content th {
  padding: 0.125rem 0.25rem;
}

/* Table of contents */
#TOC ul {
  list-style-type: decimal;
}

/* Table of contents (preview) */
#previewpane #TOC {
  display: none;
}

/* Table zebra striping */
/* Ron was getting annoyed trying to identify rows/columns of long wide tables. *
 * Ron's request was to add cell borders, twb & mike both think zebra-striping looks better. */
/* Give the header all the borders, so it continues to stand out nicely */
#content th {border: 1px solid}
/* Separate each column with a border line */
#content td:not(:first-child) {border-left: 1px solid}
/* Make sure the whole table is boxed in so the inner borders don't just, stop */
#content table {border: 1px solid}
/* Ron pointed out Zebra striping when printing would use more toner, so let's behave a little differently when printing. */
@media screen {
    /* The actual zebra stripe part, making every 2nd row a little bit grey */
    /* FIXME: Gitit has an 'even' class, should that be used instead of `nth-child()`? */
    #content tr:nth-child(even) {background-color: lightgrey}
}
/* Ron's not too concerned about the toner, so don't need to worry about border using more toner.
/* It did trigger Mike's concern about printer quality making the greyer lines unreadable. */
@media print {
    #content tr {border-bottom: 1px solid}
    /* Seems borders don't collapse by default in printing CSS */
    #content table, tr, th, td {border-collapse: collapse}
}
