Source: gitit-bootstrap-theme
Section: web
Priority: optional
Homepage: https://github.com/trentbuck/gitit-bootstrap-theme
Standards-Version: 4.5.1
Maintainer: Trent W. Buck <trentbuck@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),

Package: gitit-bootstrap-theme
Enhances:
 gitit,
Recommends:
 gitit,
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libjs-jquery (>= 3.3.1),
 libjs-jquery-ui (>= 1.12.1),
 libjs-bootstrap4 (>= 4.1.1),
# fonts-font-awesome (>= 5~) is non-Free.
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=902981#76
 fonts-fork-awesome,
Architecture: all
Description: FIXME
 FIXME
